
body {
    margin: 0;
    line-height: normal;
}
.logo-icon {
    width: 64px;
    position: relative;
    height: 48px;
}
.home {
    flex: 1;
    position: relative;
    line-height: 22px;
    font-weight: 600;
}
.home-button {
    width: 59px;
    border-radius: 24px;
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    box-sizing: border-box;
}
.portfoliobutton {
    width: 79px;
    border-radius: 24px;
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    box-sizing: border-box;
}
.contactusbutton {
    width: 95px;
    border-radius: 24px;
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
    box-sizing: border-box;
    color: #fff;
}
.top-nav-button-container {
    width: 233px;
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.top-nav {
    align-self: stretch;
    background-color: #7e40bf;
    height: 64px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px;
    box-sizing: border-box;
}
.contact-us1 {
    align-self: stretch;
    position: relative;
    line-height: 42px;
    font-weight: 600;
}
.send-us-an {
    align-self: stretch;
    position: relative;
    line-height: 28px;
    font-weight: 600;
}
.gmailimgicon {
    width: 80px;
    position: relative;
    height: 80px;
    object-fit: cover;
}
.emailcontainer {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}
.socimageiconcont {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
}
.contacticons-container {
    width: 100%;
    border-radius: 8px;
    background-color: #faf7fd;
    border: 1px solid #d6bff3;
    box-sizing: border-box;
    height: 620px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 24px 16px;
    gap: 24px;
    min-width: 300px;
    max-width: 500px;
    font-size: 24px;
}
.contactform-container {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 48px 16px 64px;
    gap: 24px;
}
.twn-logo-icon {
    align-self: stretch;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 48px;
    flex-shrink: 0;
}
.icbaseline-facebook-icon {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}
.icbaseline-facebook-parent {
    width: 72px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.techwithnoskygmailcom {
    position: relative;
    line-height: 20px;
}
.material-symbols-lightmail-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.ioncall-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.frame-parent {
    width: 201px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}
.twn-logo-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 16px 0px;
    gap: 32px;
}
.frame-child {
    align-self: stretch;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.techwithnosky-all-rights {
    align-self: stretch;
    position: relative;
    line-height: 18px;
}
.vector-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    font-size: 12px;
}
.footer {
    align-self: stretch;
    background-color: #7e40bf;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 16px;
    gap: 8px;
    text-align: left;
    font-size: 14px;
    color: #fff;
}
.contactusinnercontainer {
    align-self: stretch;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    font-size: 36px;
    color: #361556;
}
.contactus-main {
    width: 100%;
    position: relative;
    background-color: #f2ebfa;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    font-size: 16px;
    color: #cbb2e5;
    font-family: Roboto;
}

